@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
html, body, #wrap{
    position: relative;
    height: 100%;
}
#wrap {
    display: flex;
    flex-direction: column;
}

body{
    background-attachment: fixed;
    background-image: url("/img/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    background-color: black;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    background: rgb(8, 8, 8);
    height: 10vh;
}

.logo{
    display: flex;
}

.logo img{
    width: 240px;
}
.navlist a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

.navlist a:hover {
    opacity: 0.5;
}

.navlist {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navlist li {
    letter-spacing: 3px;
    margin-left: 30px;
}

.navlist a {
    padding-right: 30px;
}

.login{
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    padding-left: 7rem;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }
    .login {
        padding-left: 0%;
        padding-top: 3rem;
    }
    
    .navlist {
        display: block;
        position:absolute;
        top: 8vh;
        right: 0;
        width: 100vw;
        height: 92vh;
        background: rgb(8, 8, 8);
        opacity: 95%;
        transform: translateX(100%);
        transition: 0.3s ease-in;
    }
    .navlist li {
        display: block;
        text-align: center;
        justify-content: space-evenly;
        align-items:center;
        flex-direction: column;
        margin-top: 4rem;
    }
    .mobile-menu {
        display: block;
    }
}

.navlist.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

main article, main aside {
    background-color: rgba(255, 255, 255, 0.955);
    overflow: auto;
    border-radius: .5rem;
    margin: 0 .5rem;
    padding: 0 1rem;
}

main article {
    flex-grow: 1;
}

main aside {
    margin-top: .5rem;
}

@media (min-width: 768px) {
    main {
        flex-direction: row;
    }

    main article {
        flex-grow: 1;
    }

    main aside {
        margin: 0;
        margin-right: .5rem;
        min-width: 220px;
        max-width: 220px;
    }
}

footer {
    background: rgb(8, 8, 8);
    font-family: 'Quicksand', sans-serif;
    padding-top: 20px;
    color: #fff;
}

.ftop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ftop a {
    font-size: 1.5rem;
    padding: .25rem;
    color: #00fffc;
}

.ftop a:hover {
    color: #0187a7;
}
.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.hashs p{
    display: inline;
    margin: 50px;
}

.social{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0; 
}

.social li{
    margin: 0 10px;
}

.social a{
    text-decoration: none;
    color: #fff;
}

.social a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}

.social a:hover{
    color: #00fffc;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}